<div id="gallery">
  <ul>
    <li>
      <%= link_to(image_tag("thumb_image1.jpg"), "assets/image1.jpg") %>
    </li>
    <li>
      <%= link_to(image_tag("thumb_image2.jpg"), "assets/image2.jpg") %>
    </li>
    <li>
      <%= link_to(image_tag("thumb_image3.jpg"), "assets/image3.jpg") %>
    </li>
    <li>
      <%= link_to(image_tag("thumb_image4.jpg"), "assets/image4.jpg") %>
    </li>
  </ul>
</div>

<%#Fix mo nalang ulit ung CSS and styles neto hahaha tntnmad ako mgaus eh :3 tnx2 emaetot%>
