  <script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
    });
    </script>

<style type="text/css">

</style>

	<div id="gallery">
    <ul>
        <li>
            <a href="assets/photos/image1.jpg" rel="lightbox1">
              <%= image_tag("photos/thumb_image1.jpg", :width => "72", :height => "72")%>
            </a>
        </li>
        <li>
            <a href="assets/photos/image2.jpg">
            <%= image_tag("photos/thumb_image2.jpg", :width => "72", :height => "72")%>
            </a>
        </li>
        <li>
            <a href="assets/photos/image3.jpg">
           <%= image_tag("photos/thumb_image3.jpg", :width => "72", :height => "72")%>
            </a>
        </li>
        <li>
            <a href="assets/photos/image4.jpg">
              <%= image_tag("photos/thumb_image4.jpg", :width => "72", :height => "72")%>
            </a>
        </li>
    </ul>
</div>



