<style type="text/css">

  /* jQuery lightBox plugin - Gallery style */
  #gallery {
    background-color: transparent;
    padding: 10px;
    width: 520px;
  }
  #gallery ul { list-style: none; }
  #gallery ul li { display: inline; }
  #gallery ul img {
    border: 5px solid transparent;
    border-width: 5px 5px 20px;
  }
  #gallery ul a:hover img {
    border: 5px solid #fff;
    border-width: 5px 5px 20px;
    color: #fff;
  }
  #gallery ul a:hover { color: #fff; }
</style>

<div id="gallery">
  <ul>
    <li>
      <%= link_to image_tag("thumb_image1.jpg"), "image1.jpg" %>
    </li>
    <li>
      <%= link_to image_tag("thumb_image2.jpg"), "image2.jpg" %>
    </li>
    <li>
      <%= link_to image_tag("thumb_image3.jpg"), "image3.jpg" %>
    </li>
    <li>
      <%= link_to image_tag("thumb_image4.jpg"), "image4.jpg" %>
    </li>
  </ul>

</div>

<%#Fix mo nalang ulit ung CSS and styles neto hahaha tntnmad ako mgaus eh :3 tnx2 emaetot%>
